
.DS_Store
.Rhistory
.Rproj.user/018AE72F/sources/prop/568713C5
.Rproj.user/018AE72F/sources/prop/6ECF2B75
.Rproj.user/018AE72F/sources/prop/INDEX
.Rproj.user/018AE72F/sources/session-D6BE1DAE/00E9DD0B
.Rproj.user/018AE72F/sources/session-D6BE1DAE/00E9DD0B-contents
.Rproj.user/018AE72F/sources/session-D6BE1DAE/B4D2F769
.Rproj.user/018AE72F/sources/session-D6BE1DAE/B4D2F769-contents
.Rproj.user/018AE72F/sources/session-D6BE1DAE/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.DS_Store
.Rproj.user/018AE72F/sources/prop/10D83EDA
.Rproj.user/018AE72F/sources/prop/DB8BE7DD
.Rproj.user/018AE72F/sources/session-D6BE1DAE/94C7937A
.Rproj.user/018AE72F/sources/session-D6BE1DAE/94C7937A-contents
.Rproj.user/018AE72F/sources/session-D6BE1DAE/D3EA9BC6
.Rproj.user/018AE72F/sources/session-D6BE1DAE/D3EA9BC6-contents
.Rproj.user/shared/notebooks/BBD7BD4F-R Script/1/018AE72FD6BE1DAE/chunks.json
.Rproj.user/shared/notebooks/BBD7BD4F-R Script/1/018AE72FD6BE1DAE/csetup_chunk/00000f.csv
.Rproj.user/shared/notebooks/BBD7BD4F-R Script/1/018AE72FD6BE1DAE/csetup_chunk/000010.error
.Rproj.user/shared/notebooks/BBD7BD4F-R Script/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
.Rproj.user/018AE72F/pcs/files-pane.pper
*.pper
.Rproj.user/018AE72F/rmd-outputs
.Rproj.user/018AE72F/saved_source_markers
.DS_Store
.DS_Store
.DS_Store
